      <h1> home page</h1>
<a href="/celebrities/create">create celebrities</a>
<a href="/celebrities"> exist celebrities</a>
<a href="/new-movie"> create new movie</a>
<a href="/allmovies"> Go to exist movies</a>