<h1>New movie</h1>
<form action="/new-movie" method="post">
  <label for="title">Title:
    <input type="text" name="title" id="title" />
  </label>
  <label for="genre">
    Genre:
    <input type="text" name="genre" id="genre" />
  </label>
  <label for="plot">
    Plot:
    <input type="text" name="plot" id="plot" row="10" />
  </label>
  <br />

  <label for="cast">Choose celebrity:</label>
  <select name="cast" id="cast" multiple>
    {{#each celebrities}}
      <option value={{id}}>{{name}}</option>
    {{/each}}
  </select>
  <br />
  <button type="submit"> Submit</button>
</form>